spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:63306/lehmall?useSSL=false
    username: root
    password: ""
  jpa:
    show-sql: true
    properties:
      hibernate:
        default_batch_fetch_size: 100
        format_sql: true
    hibernate:
      ddl-auto: create-drop
  rabbitmq:
    host: localhost
    port: 55672
    username: guest
    password: guest

logging:
  level:
    org.hibernate.orm.jdbc.bind: trace


